body{
    background-image: url(../vendor/Images/Loginbg.jpg) !important;
}

.imgicon {
    width: 500px;
    height: 325px;
}

.btn-primary{
    background-color: #23b5b5;
    color: #fff
}