body{
    
}

.imgicon {
    width: 500px;
    height: 325px;
}

.btn-primary{
    background-color: #23b5b5;
    color: #fff;
}


.new-card{
    
    max-height: 300px;
    overflow: auto;
    text-overflow: ellipsis;
}

